@import "variables";

.arealink {
    display: flex;
    list-style: none;
    width: 80%;
    margin: 0 auto 0 auto;
    padding: 0;
    line-height: 250%;
    align-items: stretch;
    justify-content: space-between;
    li {
        border: 2px solid black;
        font-size: 1.3vw;
        display: block;
        position: relative;
        background-color: $nav-colour;
        width: 30%;
        text-align: center;
    }
    li a {
        display: block;
        text-decoration: none;
        color: white;
        width: 100%;
  }
}
.smallbtn {
    width: 15%;
    background-color: $colour;
    color: white;
    font-size: 1.3vw;
    margin-left: 10px;
    text-align: center;
}
.newbtn {
    display:none;
}
.hint {
    background-color: black;
    opacity: 0.7;
    padding: 3px;
    color: white;
    margin-bottom: 10px;
    display: none;
    line-height: 1.8;
    font-size: 1.5vw;
}

@media (max-width: 800px) {
    .arealink {
        line-height: 100%;
    }
}