@import "cs";
@import "buttons";
@import "information";
@import "data";
body {
    background-image: url("../images/kennel_background.jpg");
    background-size: 100%;
    background-repeat: y;
    background-blend-mode: darken;
}
.kennels {
    background-color: $kennel-colour;
  }
.teachkennel {
    padding: 3px;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
    line-height: 1.8;
    font-size: 1.5vw;
}
.teachkennel .formula {
    color: #0000ff;
}