@import "cs";
@import "nav";

.answerboxlongest {
    margin-bottom: 2%;
    width: 30%;
    font-size: 1vw;
    border: 1px solid black;
}
.answerboxlongest:first-of-type{
    margin-top: 4%;
}
.answerboxlongest:last-of-type{
    margin-bottom: 4%;
}
body {
    background-image: url("../images/register_background.jpg");
    background-size: 100%;
    background-repeat: none;
}
.flexcontainerreg {
    display: flex;
    flex-wrap: nowrap;
}
label {
    width: 50%;
    display: inline-block;
    text-align: right;
    font-size: 1.5vw;
}
.message {
    text-align: center;
    margin: 1% auto 1% auto;
    padding: 0.5% 0 0.5% 0;
    border: 2px solid black;
    font-size: 1vw;
    font-weight: bold;
    color: black;
    background-color:  rgb(255, 255, 255);
    background-color:  rgb(255, 255, 255, 0.8);
    display: none;
}
#regbtn {
    margin: 1% 0 1% 0;
    font-size: 1.3vw;
    background-color: $nav-colour;
    color: white;
  }
#regbtn:hover {
    background-color: white;
    color: black;
}
.required {
    margin: 0 auto 1% auto;
    font-size: 1vw;
}