$colour: rgb(0, 2, 136);
$back-ground-colour: #EEF8E3;
$nav-colour: rgb(0, 2, 136);
$nav-background-hover: black;
$theatre-colour:  rgb(0, 101, 252, 0.8);
$kennel-colour:   rgb(0, 101, 252, 0.8);
$pharmacy-colour:  rgb(0, 101, 252, 0.8);