{% extends "base.html" %}

{% block head %}
<script src="../static/javascript/teach.js"></script>
<link href="../static/css/pharmacy.css" rel="stylesheet" type="text/css">
<link href="../static/css/questions.css" rel="stylesheet" type="text/css">
<title>Oral Liquid Calculations</title>
{% endblock %}

{% block main %}
<main>
    <article>
        <h1>Liquid Calculations</h1>
        <section id="introduction">
            <h2>Introduction</h2>
            <p>
                Ensuring a patient is sent home with the correct amount of medication is crucial in ensuring treatment success.
            </p>
            <p>
                In these types of calculations it is important to realise that drug doses are based on the animal's bodyweight. 
                Take note of the number of doses required to be given daily and also the number of days for which the course is 
                to continue. Also note whether the concentration of the medication is given as a percentage(%) or in milligrams 
                per mlllilitre(mg/ml).
            </p>
            <p>
                A sample <a href='#question'>question</a> is provided and a detailed <a href='#teach'>explanation</a> of the calculation based on example patient. 
            </p>
        </section>
        <section id="patientdetail">
            <h2>Patient Details</h2>
            <ul>
                <li>Species: {{data.species}}</li>
                <li>Weight: {{data.bodyweight}}kg</li>
                <li>Presenting Complaint: {{data.symptom}}</li>
                <li>Max Dose Rate: {{data.dose}}mg/kg</li>
                <li>Liquid Strength Available: {{data.medStrength}}{% if data.lType == 1 %}mg/ml {% else %}% Solution{%endif%}</li>
                <li>Daily Doses: {% if data.interval == 1 %}Once{% else %}Twice{% endif %} Daily</li>
                <li>Length Of Treatment: {{data.courseLength}} Days</li>
            </ul>
        </section>
        <section id="question">
            <h2>Question</h2>
            <div>
                <p>
                    {{data.question.intro}}
                </p>
                <p>
                    {{data.question.question}}
                </p>
                <p>
                    {{data.question.otherinfo}}
                </p>
            </div>
            <button class="next" id="newbtn">Next Example</button>
        </section>
        <section id="teach">
            <h2>Example liquid calculation</h2>
            <p>
                Below is a step by step guide to solving this type of calculation:
            </p>
            <p>
                First we calculate the number of milligrams required by the patient for each individual dose:
            </p>
            <p class="formula">
                Mg per Dose = Bodyweight X Minimum Dose Rate
            </p>
            <p class="formula">
                Mg per Dose = {{data.bodyweight}}kg X {{data.dose}}mg/kg = {{data.mgPerDose}}mg
            </p>
            <p>
                If the solution is given as a percentage it can be changed into a mg/ml concentration by multiplying by 10
            </p>
            {% if data.lType == 2 %}
            <p class="formula">
                Concentration = {{data.medStrength}} X 10 = {{data.percMedStrength}}mg/ml
            </p>{%endif%}
            <p>Then we can work out the volume of liquid required for each dose:</p>
            <p class="formula">
                Volume per Dose = Mg per Dose / Concentration of Liquid
            </p>
            <p class="formula">
                Volume per Dose = {{data.mgPerDose}}mg /{{data.medStrength}}mg/ml ={{data.unroundedVolPer}}ml
            </p>
            <p>This must then be rounded down to the nearest 0.1ml</p>
            <p>This is then rounded to {{data.liquidPer}}ml</p>
            <p>
                The total volume of liquid required is then found by this volume multiplying by the number of times the dose is required
                per day and the number of days in the course
            </p>
            <p class="formula">
            Total Volume of Liquid = Volume per Dose X Number of Daily Doses X Length of Treatment
            </p>
            <p>
            Total Volume of Liquid = {{data.liquidPer}} ml X {{data.interval}} Dose{% if data.interval == 2 %}s{% endif %}/Day
            X {{data.courseLength}} Days = {{data.unroundANS}}ml
            </p>
            <p>If necessary this must then be rounded up to the nearest millilitre</p>
            <p class="finalanswer">Total Volume = {{data.ANS}}ml</p>
        </section>
    </article>
</main>
{% endblock %}