{% extends "base.html" %}

{% block title %}
Injectable Drug Calculations
{% endblock %}

{% block main %}
<link href="../static/css/theatre.css" rel="stylesheet" type="text/css">
<div class="flexcontainer">
<div class="flexbox2 infodiv">
    Administering the correct volume of an injectable medication is vital to prevent toxic effects from overdosing as well as
    inaffective treatment due to underdosing.<br>
     <br>
    The patient's details, alongside the details of the medication can be found in the box on the right.
    Note that drug doses are based on the animal's bodyweight. Also note whether the concentration of the medication is given
    as a percentage (%) or in milligrams per millilitre (mg/ml).
     <br>
    A sample question can be found in the box below and a detailed explanation of the calculation based on the details on the right
     can be found underneath.
</div>
<div class="flexbox2">
    <h3>Patient Details</h3>
    <ul class="pDetails">
    <li>Species: {{data.species}}</li>
    <li>Weight: {{data.bodyweight}}kg</li>
    <li>Max Dose Rate: {{data.dose}}mg/kg</li>
    <li>Injectable Concentration: {% if data.lType == 1 %}{{data.medStrength}}mg/ml {% else %}{{data.percMedStrength}}% Solution{%endif%}</li>
    </ul>
</div>
</div>
<div class="question">
        {{data.question.part1}}<br>
        {{data.question.part2}}<br>
        {{data.question.part3}}
</div>
<div class="comment"></div>
<div style="margin-bottom: 10px;">
    <input type="button" class="smallbtn floatbtn" onclick="window.location.href='/injectioncalc?q=teach'" value="Next Question"><br>
     <br>
</div>
<div class="teachtheatre">
    Below is a step by step guide to solving this type of calculation:
    <div class="centered">
        First we calculate the number of milligrams required to be administered to the patient:
    </div>
    <div class="centered formula">
        Mg per Dose = Bodyweight X Dose Rate<br>
        Mg per Dose = {{data.bodyweight}}kg X {{data.dose}}mg/kg = {{data.mgPerDose}}mg
    </div>
    <div class="centered">
        If the concentration is given as a percent solution this can be changed to a mg/ml concentration by multiplying by 10
    </div>
    {% if data.lType == 2 %}
    <div class="centered formula">
         Concentration = {{data.percMedStrength}}% X 10 = {{data.medStrength}}mg/ml <br>
    </div>
    {%endif%}
    <div class="centered formula">
        Volume to Inject = Mg per dose / Concentration of Injectable<br>
        Volume to Inject = {{data.mgPerDose}}mg / {{data.medStrength}}mg/ml = {{data.unroundedVolumePerDose}}ml
    </div>
    <div class="centered">
        This must then be rounded down to the nearest 0.1ml as necessary
    </div>
    <div class="centered answerText">
        Volume to Inject = {{data.ANS}}ml
    </div>
</div>


{% endblock %}