{% extends "base.html" %}

{% block head %}
<script src="../static/javascript/teach.js"></script>
<link href="../static/css/kennels.css" rel="stylesheet" type="text/css">
<link href="../static/css/questions.css" rel="stylesheet" type="text/css">
<title>Fluid Therapy Calculations</title>
{% endblock %}

{% block main %}
<main>
    <article>
        <h1>Fluid calculations</h1>
        <section id="introduction">
            <h2>Introduction</h2>
            <p>Understanding fluid therapy calculations is very important due to the severe effects of over hydrating or under hydrating patients.</p>
            <p>Patient details will be provided by the question or found on the patients notes if you are in practice.</p>
            <p>
                It is important to note whether you are expected to give your answer in millitres per hour(ml/hr) or seconds per drop (s/drop).
                The ml/hr calculations are using used when calculating fluid given via an automated fluid pump.
                It is also important to note whether patient is dehydrated, has on-going losses requiring replacement or more simply requires daily maintenance fluids.
            </p>
            <p>
                A sample <a href='#question'>question</a> is provided and a detailed <a href='#teach'>explanation</a> of the calculation based on example patient.          
            </p>
        </section>
        <section id="patientdetail">
            <h2>Patient Details</h2>
            <ul>
                <li>Species: {{data.species}}</li>
                <li>Weight: {{data.bodyweight}}kg</li>
                <li>Percentage Dehydration: {{data.dehydration}}%</li>
                <li>Ongoing Fluid Loss per Day: {{data.onGoingLoss}}ml/day </li>
                <li>Giving Set Drops per ml: {{data.dropsPerMl}}</li>
                <li>Maintenance Fluid Rate: {{data.dailyFluids}}ml/kg</li>
            </ul>
        </section>
        <section id="question">
            <h2>Question</h2>
            <div>
                {% if data.dehydration > 0 %}
                <p>
                    {{data.question.intro}}
                </p>
                {% endif %}
                <p>
                    {{data.question.question}}
                </p>
                <p>
                    {{data.question.otherinfo}}
                </p>
            </div>
            <button class="next" id="newbtn">Next Example</button>
        </section>
        <section id="teach">
            <h2>Millilitres per hour calculations</h2>
            <p>
                First we must calculate the maintenance fluid required by the patient
            </p>

            <p class="formula">
                Maintenance Fluid = Bodyweight X Daily Maintenance Fluid Rate
            </p>
            <p class="formula">
                Maintenance Fluid = {{data.bodyweight}} X {{data.dailyFluids}} = {{data.dailyMaintenanceMl}}ml
            </p>
            <p>
                If the patient is dehydrated and/or has ongoing losses we must then calculate the fluid required to return
                their hydration status to normal
            </p>
            <p>
                1kg of bodyweight is approximately equivalent is 1000ml of water
            </p>
            <p class="formula">
                Fluid to Rehydrate = Bodyweight(kg) X 1000 X (Percentage Dehydated / 100)
            </p>
            <p class="forumla">
                Fluid to Rehydrate = {{data.bodyweight}} X 1000 X ({{data.dehydration}} / 100) = {{data.replace}}ml
            </p>
            <p>
                We then add to this value any ongoing fluid losses
            </p>
            <p class="formula">
                Total Fluid Replacement Requirement = Fluid to Rehydrate + Ongoing Daily Losses
            </p>
            <p class="formula">
                Total Fluid Replacement Requirement = {{data.replace}}ml + {{data.onGoingLoss}}ml = {{data.replaceLoss}}ml
            </p>
            <p>
                The volume of fluid for the day must then be found
            </p>
            <p class="formula">
                Total Daily Fluid = Maintenance Fluid + Fluid Replacement Requirement
            </p>
            <p class="formula">
                Total Daily Fluid = {{data.dailyMaintenanceMl}}ml + {{data.replaceLoss}}ml = {{data.requiredFluid}}ml
            </p>
            <p>
                The hourly fluid rate can then be found
            </p>
            <p class="formula">
                Hourly Fluid Rate = Total Daily Fluid / 24hrs
            </p>
            <p class="formula">
                Hourly Fluid Rate = {{data.requiredFluid}}ml / 24hrs = {{data.unroundedMlPerHour}}ml/hr
            </p>
            <p>
            This must then be rounded down to the nearest ml
            </p>
            <p class="finalanswer">
                Answer = {{data.ANSml}}ml/hr
            </p>
        </section>
        <section class="teach2">
            <h2>Seconds per drop calculations</h2>
            <p>
                First we must calculate the maintenance fluid required by the patient
            </p>
            <p class="formula">
                Maintenance Fluid = Bodyweight X Daily Maintenance Fluid Rate
            </p>
            <p class="formula">
                Maintenance Fluid = {{data.bodyweight}} X {{data.dailyFluids}} = {{data.dailyMaintenanceMl}}ml
            </p>
            <p>
                If the patient is dehydrated and/or has ongoing losses we must then calculate the fluid required to return their hydration status to normal
            </p>
            <p>
                1kg of bodyweight is approximately equivalent is 1000ml of water
            </p>
            <p class="formula">
                Fluid to Rehydrate = Bodyweight(kg) X 1000 X (Percentage Dehydated / 100)
            </p>
            <p class="formula">
                Fluid to Rehydrate = {{data.bodyweight}} X 1000 X ({{data.dehydration}} / 100) = {{data.replace}}ml
            </p>
            <p>
                We then add to this value any ongoing fluid losses
            </p>
            <p class="formula">
                Total Fluid Replacement Requirement = Fluid to Rehydrate + Ongoing Daily Losses
            </p>
            <p class="forumla">
                Total Fluid Replacement Requirement = {{data.replace}}ml + {{data.onGoingLoss}}ml = {{data.replaceLoss}}ml
            </p>
            <p>
                The volume of fluid for the day must then be found
            </p>
            <p class="formula">
                Total Daily Fluid = Maintenance Fluid + Fluid Replacement Requirement
            </p>
            <p class="formula">
                Total Daily Fluid = {{data.dailyMaintenanceMl}}ml + {{data.replaceLoss}}ml = {{data.requiredFluid}}ml
            </p>
            <p>
                The number of drops required per day can then be found
            </p>
            <p class="formula">
                Total Daily Drops = Total Daily Fluid X Giving Set Drops per ml
            </p>
            <p class="formula">
                Total Daily Drops = {{data.requiredFluid}}ml X {{data.dropsPerMl}} drops/ml = {{data.dailyDrops}} drops/day
            </p>
            <p>
                The number of seconds in a day is 86400 (24 hours X 60 minutes X 60 seconds)
            </p>
            <p class="formula">
                Drops per Second = Total Daily Drops / Seconds in a Day
            </p>
            <p class="formula">
                Drops per Second = {{data.dailyDrops}}drops/day / 86400 = {{data.dropsPerSec}} drops/second
            </p>
            <p>
                The number of seconds per drop is 1 divided bt the number of drops per second
            </p>
            <p class="formula">
                Seconds per Drop = 1 / Seconds per Drop
            </p>
            <p class="formula">
                Seconds per Drop = 1 / {{data.dropsPerSec}} drops/second = {{data.unroundedSecPerDrop}} seconds/drop
            </p>
            <p>
                This must then be rounded down to the nearest second
            </p>
            <p class="finalanswer">
                Answer = {{data.ANSdrop}} seconds/drop
            </p>
        </section>
    </article>
</main>

{% endblock %}