$colour: rgb(0, 2, 136);
$back-ground-colour: #EEF8E3;
$nav-colour: rgb(0, 2, 136);
$nav-background-hover: black;
$theatre-colour:  rgb(255, 255, 255, 0.8);
$kennel-colour:   rgba(118, 173, 255, 0.8);;
$pharmacy-colour:  rgb(200, 255, 149, 0.8);