{% extends "base.html" %}

{% block head %}
<script src="../static/javascript/quiz.js"></script>
<link href="../static/css/kennels.css" rel="stylesheet" type="text/css">
<link href="../static/css/questions.css" rel="stylesheet" type="text/css">
<title>Fluid Therapy Calculations</title>
{% endblock %}

{% block main %}
<main>
    <p id="answer" style="display:none;">{{data.ANS}}</p>
    <h1>Fluid Calculations</h1>
    <article>
        <section id="picture">
            <img src="/static/images/{{data.species}}.jpg" alt="{{data.species}} patient">
        </section>
        <section id="patientdetail">
            <h2>Patient Information</h2>
            <ul>
                <li>Species: {{data.species}}</li>
                <li>Weight: {{data.bodyweight}}kg</li>
                {% if data.dehydration > 0 %}<li>Percentage Dehydration: {{data.dehydration}}%</li>{% endif %}
                {% if data.onGoingLoss > 0 %}<li>Ongoing Fluid Loss per Day: {{data.onGoingLoss}}ml/day </li>{% endif %}
                {% if data.mlVsSec == 1 %}<li>Giving Set Drops per ml: {{data.dropsPerMl}}</li>{% endif %}
                <li>Maintenance Fluid Rate: {{data.dailyFluids}}ml/kg</li>
            </ul>
        </section>
        <section id="question">
            <h2>Question</h2>
            <div>
                {% if data.dehydration > 0 %}
                <p>
                    {{ data.question.intro}}
                </p>
                {% endif %}
                <p>
                    {{data.question.question}}<label>Answer: <input type="number" id="answerbox" >{{data.question.units}}</label>
                </p>
                <p>
                    {{data.question.otherinfo}}
                </p>
            </div>
            <button id="hintbtn" class="disable">Help Me!</button>
            <button id="answerbtn" class="disable">Show Answer</button>
            <button type="button" id="submitbtn" class="disable">Submit Answer</button>
            <button type="button" id="newbtn">Next Question</button>
            <p id="comment"></p>
        </section>
        <section id="hint">
            <h2>Hint</h2>
            <p>
                The calculation can be performed using the following formulae:
            </p>
            <p>
                Maintenance Fluid = Bodyweight X Daily Maintenance Fluid Rate
            </p>
            {% if data.dehydration > 0 %}
            <p class="formula">
                Fluid to Rehydrate = Bodyweight X 1000 X (Percentage Dehydated / 100)
            </p>
            <p class="formula">
                Total Fluid Replacement Requirement = Fluid to Rehydrate + Ongoing Daily Losses
            </p>
            {% endif %}
            <p>
                The volume of fluid for the day must then be found
            </p>
            <p class="forumla">
                Total Daily Fluid = Maintenance Fluid{% if data.dehydration > 0 %} + Fluid Replacement Requirement{% endif %}
            </p>
            {% if data.mlVsSec == 0 %}
            <p class="formula">
                Hourly Fluid Rate = Total Daily Fluid / 24hrs
            </p>
            <p>
                This must then be rounded down to the nearest ml
            </p>
            {% endif %}
            {% if data.mlVsSec == 1 %}
            <p>
                The number of drops required per day can then be found
            </p>
            <p class="formula">
                Total Daily Drops = Total Daily Fluid X Giving Set Drops per ml
            </p>
            <p>
                The number of seconds in a day is 86400 (24 hours X 60 minutes X 60 seconds)
            </p>
            <p class="formula">
                Drops per Second = Total Daily Drops / Seconds in a Day
            </p>
            <p class="formula"></p>
                Seconds per Drop = 1 / Seconds per Drop
            </p>
            <p>
                This must then be rounded down to the nearest second
            </p>
            {% endif %}
        </section>
        <section id="ans">
            <h2>Answer</h2>
            <p>
                The calculation for the answer is as follows:
            </p>
            <p class="formula">
                Maintenance Fluid = {{data.bodyweight}} X {{data.dailyFluids}} = {{data.dailyMaintenanceMl}}ml
            </p>
            {% if data.dehydration > 0 %}
            <p class="formula">
                Fluid to Rehydrate = {{data.bodyweight}} X 1000 X ({{data.dehydration}} / 100) = {{data.replace}}ml
            </p>
            <p class="formula">
                Total Fluid Replacement Requirement = {{data.replace}}ml + {{data.onGoingLoss}}ml = {{data.replaceLoss}}ml
            </p>
            <p>
                The volume of fluid for the day must then be found
            </p>
            <p class="formula">
                Total Daily Fluid = {{data.dailyMaintenanceMl}}ml + {{data.replaceLoss}}ml = {{data.requiredFluid}}ml
            </p>
            {% endif %}
            {% if data.mlVsSec == 0 %}
            <p class="formula">
                Hourly Fluid Rate = {{data.requiredFluid}}ml / 24hrs = {{data.unroundedMlPerHour}}ml/hr
            </p>
            <p>
                This must then be rounded down to the nearest ml
            </p>
            <p class="finalanswer">
                Answer = {{data.ANS}} ml/hr
            </p>
            {% endif %}
            {% if data.mlVsSec == 1 %}
            <p>
                The number of drops required per day can then be found
            </p>
            <p class="formula">
                Total Daily Drops = {{data.requiredFluid}}ml X {{data.dropsPerMl}}drops/ml = {{data.dailyDrops}}drops/day
            </p>
            <p>
                The number of seconds in a day is 86400 (24 hours X 60 minutes X 60 seconds)
            </p>
            <p class="formula">
                Drops per Second = {{data.dailyDrops}}drop/day / 86400 = {{data.dropsPerSec}}drops/second
            </p>
            <p class="formula">
                Seconds per Drop = 1 / {{data.dropsPerSec}}drops/second = {{data.unroundedSecPerDrop}}seconds/drop
            </p>
            <p>
                This must then be rounded down to the nearest second
            </p>
            <p class="finalanswer">
                Answer = {{data.ANS}} seconds/drop
            </p>
            {% endif %}
        </section>
    </article>
</main>
{% endblock %}