{% extends "base.html" %}

{% block head %}
<script src="../static/javascript/quiz.js"></script>
<link href="../static/css/theatre.css" rel="stylesheet" type="text/css">
<link href="../static/css/questions.css" rel="stylesheet" type="text/css">
<title>Injectable Drug Calculations</title>
{% endblock %}

{% block main %}
<p id="answer" style="display:none;">{{data.ANS}}</p>
<main>
    <article>
        <section id="picture">
            <img src="/static/images/{{data.species}}.jpg" alt="{{data.species}} patient">    
        </section>
        <section id="patientdetail">
            <h2>Patient Information</h2>
            <ul>
                <li>Species: {{data.species}}</li>
                <li>Weight: {{data.bodyweight}}kg</li>
                <li>Max Dose Rate: {{data.dose}}mg/kg</li>
                <li>Injectable Concentration: {% if data.lType == 1 %}{{data.medStrength}}mg/ml {% else %}{{data.percMedStrength}}% Solution{%endif%}</li>
            </ul>
        </section>
        <section id="question">
            <h2>Question</h2>
            <div>
                <p>
                    {{data.question.intro}}
                </p>
                <p>
                    {{data.question.question}}<label>Answer: <input type="number" id="answerbox" >{{data.question.units}}</label>
                </p>
                <p>
                    {{data.question.otherinfo}}
                </p>
            </div>
            <button type="button" id="hintbtn" class="disable">Help Me!</button>
            <button type="button" id="answerbtn" class="disable">Show Answer</button>
            <button type="button" id="submitbtn" class="disable">Submit Answer</button>
            <button id="newbtn">Next Question</button>
            <p id="comment"></p>
        </section>
        <section id="hint">
            <h2>Hint</h2>
            <p>
                The calculation can be performed using the following formulae:
            </p>
            <p class="formula">
                Mg per Dose = Bodyweight X Dose Rate
            </p>
            {% if data.lType == 2 %}
            <p>
                The percentage solution can be changed to a mg/ml concentration by multiplying by 10
            </p>
            {% endif %}
            <p class="formula">
                Volume to Inject = Mg per Dose / Concentration of Injectable
            </p>
            <p>
                This must then be rounded down to the nearest 0.1ml
            </p>
        </section>
        <section id="ans">
            <h2>Answer</h2>
            <p>
                The calculation for the answer is as follows:
            </p>
            <p class="formula">
                Mg per dose = {{data.bodyweight}}kg X {{data.dose}}mg/kg = {{data.mgPerDose}}mg
            </p>
                {% if data.lType == 2 %}
            <p class="formula">
                Concentration = {{data.percMedStrength}} X 10 = {{data.medStrength}}mg/ml
            </p>
                {%endif%}
            <p class="formula">
                Volume to Inject = {{data.mgPerDose}}mg / {{data.medStrength}}mg/ml = {{data.unroundedVolumePerDose}}ml
            </p>
            <p>
                This is then rounded down to {{data.ANS}} ml
            </p>
            <p class="finalanswer">
                Volume to Inject = {{data.ANS}}ml
            </p>
        </section>
    </article>
</main>
{% endblock %}