{% extends "base.html" %}

{% block head %}
<script src="../static/javascript/quiz.js"></script>
<link href="../static/css/pharmacy.css" rel="stylesheet" type="text/css">
<link href="../static/css/questions.css" rel="stylesheet" type="text/css">
<title>Oral Liquid Calculations</title>
{% endblock %}

{% block main %}
<p id="answer" style="display:none;">{{data.ANS}}</p>
<main>
    <h1>Liquid Calculations</h1>
    <article>
        <section id="picture">
            <img src="/static/images/{{data.species}}.jpg" alt="{{data.species}} patient">
        </section>
        <section id="patientdetail">
            <h2>Patient Information</h2>
            <ul>
                <li>Species: {{data.species}}</li>
                <li>Weight: {{data.bodyweight}}kg</li>
                <li>Presenting Complaint: {{data.symptom}}</li>
                <li>Max Dose Rate: {{data.dose}}mg/kg</li>
                <li>Liquid Strength Available: {{data.medStrength}}{% if data.lType == 1 %}mg/ml {% else %}% Solution{%endif%}</li>
                <li>Daily Doses: {% if data.interval == 1 %}Once{% else %}Twice{% endif %} Daily</li>
                <li>Length Of Treatment: {{data.courseLength}} Days</li>
            </ul>
        </section>
        <section id="question">
            <h2>Question</h2>
            <div>
                <p>
                    {{data.question.intro}}
                </p>
                <p>
                    {{data.question.question2}}<label>Answer: <input type="number" id="answerbox" >{{data.question.units}}</label>
                </p>
                <p>
                    {{data.question.otherinfo}}
                </p>
            </div>
            <button id="hintbtn" class="disable">Help Me!</button>
            <button id="answerbtn" class="disable">Show Answer</button>
            <button id="submitbtn" class="disable">Submit Answer</button>
            <button id="newbtn">Next Question</button>
            <p id="comment"></p>
        </section>
        <section id="hint">
            <h2>Hint</h2>
            <p>
                The calculation can be performed using the following formulae:
            </p>
            <p class="formula">
                Mg per Dose = Bodyweight X Minimum Dose Rate
            </p>
            {% if data.lType == 2 %}
            <p>
                The percentage solution can be changed to a mg/ml concentration by multiplying by 10
            </p>{% endif %}
            <p class="formula">
                Volume per Dose = Mg per Dose / Concentration of Liquid
            </p>
            <p>
                This must then be rounded down to the nearest 0.1ml
            </p>
            <p class="formula">
                Total Volume of Liquid = Volume per Dose X Number of Daily Doses X Length of Treatment
            </p>
            <p>
                This must then be rounded up to the nearest ml
            </p>
        </section>
        <section id="ans">
            <h2>Answer</h2>
            <p>
                The calculation for the answer is as follows:
            </p>
            <p class="formula">
                Mg per Dose = {{data.bodyweight}}kg X {{data.dose}}mg/kg = {{data.mgPerDose}}mg
            {% if data.lType == 2 %}
            <p class="forumla">
                Concentration = {{data.medStrength}} X 10 = {{data.percMedStrength}}mg/ml
            </p>
                {%endif%}
            <p class="formula">
                Volume per Dose = {{data.mgPerDose}}mg / {% if data.lType == 2 %}{{data.percMedStrength}}{% else %}{{data.medStrength}}{% endif %}mg/ml ={{data.unroundedVolPer}}ml
            </p>
            <p>
                This is then rounded to {{data.liquidPer}} ml
            </p>
            <p class="formula">
                So the Total Volume of Liquid = {{data.liquidPer}} ml X {{data.interval}} Dose{% if data.interval == 2 %}s{% endif %}/Day X {{data.courseLength}} Days = {{data.unroundANS}}ml
            </p>
            <p>
                This must then be rounded up to the nearest ml
            </p>
            <p class="finalanswer">
                Total Volume = {{data.ANS}}ml
            </p>
        </section>
    </article>
</main>

{% endblock %}