{% extends "base.html" %}

{% block title %}
Tablet Calcuations
{% endblock %}

{% block main %}
<link href="../static/css/pharmacy.css" rel="stylesheet" type="text/css">
<div id="answer" style="display:none;">{{data.ANS}}</div>
<div class="flexcontainer">
<div class="flexbox2"><img class="pPic"{% if data.species == "Cat"%} src="/static/images/Cat.jpg"{% else %}src="/static/images/Dog.jpg"{% endif %}></div>
<div class="flexbox2">
    <h3>Patient Details</h3>
    <ul class="pDetails">
    <li>Species: {{data.species}}</li>
    <li>Weight: {{data.bodyweight}}kg</li>
    <li>Presenting Complaint: {{data.symptom}}</li>
    <li>Max Dose Rate: {{data.dose}}mg/kg</li>
    <li>Tablet Strength Available: {{data.medStrength}}mg Tablets</li>
    <li>Daily Doses: {% if data.interval == 1 %}Once{% else %}Twice{% endif %} Daily</li>
    <li>Length Of Treatment: {{data.courseLength}} Days</li>
    </ul>
</div>
</div>
<div class="question">
    {{data.question.part1}}<br>
    {{data.question.part2}}<input type="number" class="answerbox"> {{data.question.part4}}<br>
    {{data.question.part3}}
</div>
<div class="comment"></div>
<div style="margin-bottom: 20px;">
    <input type="button" class="smallbtn hintbtn" onclick="hintreveal()" value="Help Me!">
    <input type="button" class="smallbtn answerbtn" onclick="answerreveal()" value="Show Answer">
    <input type="button" class="smallbtn submitbtn" onclick="answercheck(1)" value="Submit Answer">
    <input type="button" class="smallbtn newbtn" onclick="window.location.href='/tabletcalc?q=quiz'" value="Next Question">
</div>
<div class="hint">
    The calculation can be performed using the following formulae:
    <div class="centered formula">
        Mg per Dose = Bodyweight X Minimum Dose Rate <br>
        Tablets per Dose = Mg per Dose / Strength of Tablet
    </div>
    <div class="centered">
        This must then be rounded down to the nearest quarter of a tablet
    </div>
    <div class="centered formula">
        Total Number of Tablets = Tablets per Dose X Number of Daily Doses X Length of Treatment<br>
    </div>
</div>
<div class="answer">
    The calculation for the answer is as follows:
    <div class="centered formula">
        Mg per Dose = {{data.bodyweight}}kg X {{data.dose}}mg/kg = {{data.mgPerDose}}mg<br>
        Tablets per Dose = {{data.mgPerDose}}mg / {{data.medStrength}}mg/Tablet = {{data.unroundedTabsPer}} Tablets
    </div>
    <div class="centered">
        This is then rounded to {{data.tabPer}} Tablets
    </div>
    <div class="centered formula">
        So the Total Number of Tablets = {{data.tabPer}} Tablets X {{data.interval}} Dose{% if data.interval == 2 %}s{% endif %}
        / per Day X {{data.courseLength}} Days = {{data.unroundedANS}} Tablets
    </div>
    <div class="centered">
        This must then be rounded up to a whole number of tablets
    </div>
    <div class="centered answerText">
        Answer = {{data.ANS}} Tablets
    </div>
</div>

{% endblock %}