{% extends "base.html" %}

{% block title %}
My account
{% endblock %}

{% block main %}
<link href="/static/css/account.css" rel="stylesheet" type="text/css">

<p class="mtitle">Current results for: {{ student[0]['username']}}</p>

<p><table class="resultTable">
    <tr>
    <th>Test Type</th>
    <th>Best Score</th>
    <th>Number of Tests Taken</th>
    </tr>
    <tr>
        <td class="pharmacy">Tablet Calculations</td>
        <td class="pharmacy">{{ bestResult['Tablet'] }}</td>
        <td class="pharmacy">{{ attempts['Tablet'] }} {% if attempts['Tablet'] == 1 %}test{% else %}tests{% endif %}</td>
    </tr>
    <tr>
        <td class="pharmacy">Liquid Calculations</td>
        <td class="pharmacy">{{ bestResult['Liquid'] }}</td>
        <td class="pharmacy">{{ attempts['Liquid'] }} {% if attempts['Liquid'] == 1 %}test{% else %}tests{% endif %}</td>
    </tr>
    <tr>
        <td class="kennels">Fluid Therapy Calculations</td>
        <td class="kennels">{{ bestResult['Fluids'] }}</td>
        <td class="kennels">{{ attempts['Fluids'] }} {% if attempts['Fluids'] == 1 %}test{% else %}tests{% endif %}</td>
    </tr>
    <tr>
        <td class="theatre">Gas Flow Calculations</td>
        <td class="theatre">{{ bestResult['gasFlow'] }}</td>
        <td class="theatre">{{ attempts['gasFlow'] }} {% if attempts['gasFlow'] == 1 %}test{% else %}tests{% endif %}</td>
    </tr>
    <tr>
        <td class="theatre">Injectable Calculations</td>
        <td class="theatre">{{ bestResult['Injectable'] }}</td>
        <td class="theatre">{{ attempts['Injectable'] }} {% if attempts['Injectable'] == 1%}test{% else %}tests{% endif %}</td>
    </tr>
    <tr>
        <td class="hazard">Random Calculations</td>
        <td class="hazard">{{ bestResult['Hazard'] }}</td>
        <td class="hazard">{{ attempts['Hazard'] }} {% if attempts['Hazard'] == 1%}test{% else %}tests{% endif %}</td>
    </tr>
</table></p>
<div class="formdiv">
    <div class="centered atitle">
        Please use the form below to update your details
    </div>
    <form class="sDetails" id="updateform">
        <label>Current Email Address: </label> <span id="storedEmail">{{student[0]['email']}}</span><br>
        <label>New Email Address: </label> <input type="email" class="updatebox" name="updemail" autocomplete="off"><br>
        <label>New Password: </label> <input type="password" class="updatebox" name="updpass" autocomplete="off"><br>
        <label>Confirm New Password: </label> <input type="password" class="updatebox" name="updconpass" autocomplete="off"><br>
    </form>
    <p class="centered"><input type="button" class="updatebtn" value="Submit Changes" onclick="update()"><br></p>
</div>
<div id="comment" class="comment sDetails"></div>
{% endblock %}