{% extends "base.html" %}

{% block head %}
<link href="/static/css/account.css" rel="stylesheet" type="text/css">
<script src="/static/javascript/helper.js"></script>
<script src="/static/javascript/update.js"></script>
<title>My account</title>
{% endblock %}

{% block main %}


<main>
    <h1>{{ student[0]['username']}}</h1>
    <section id="tableSection">
        <table>
            <caption>Current results</caption>
            <thead>
                <tr>
                    <th>Test Type</th>
                    <th>Best Score</th>
                    <th>Number of Tests Taken</th>
                </tr>
            </thead>
            <tbody>
                <tr class="pharmacy">
                    <td >Tablet Calculations</td>
                    <td >{{ bestResult['Tablet'] }}</td>
                    <td >{{ attempts['Tablet'] }} {% if attempts['Tablet'] == 1 %}test{% else %}tests{% endif %}</td>
                </tr>
                <tr class="pharmacy">
                    <td >Liquid Calculations</td>
                    <td >{{ bestResult['Liquid'] }}</td>
                    <td >{{ attempts['Liquid'] }} {% if attempts['Liquid'] == 1 %}test{% else %}tests{% endif %}</td>
                </tr>
                <tr class="kennels">
                    <td >Fluid Therapy Calculations</td>
                    <td >{{ bestResult['Fluids'] }}</td>
                    <td >{{ attempts['Fluids'] }} {% if attempts['Fluids'] == 1 %}test{% else %}tests{% endif %}</td>
                </tr>
                <tr class="theatre">
                    <td>Gas Flow Calculations</td>
                    <td>{{ bestResult['gasFlow'] }}</td>
                    <td>{{ attempts['gasFlow'] }} {% if attempts['gasFlow'] == 1 %}test{% else %}tests{% endif %}</td>
                </tr>
                <tr class="theatre">
                    <td>Injectable Calculations</td>
                    <td>{{ bestResult['Injectable'] }}</td>
                    <td>{{ attempts['Injectable'] }} {% if attempts['Injectable'] == 1%}test{% else %}tests{% endif %}</td>
                </tr>
                <tr class="hazard">
                    <td>Random Calculations</td>
                    <td>{{ bestResult['Hazard'] }}</td>
                    <td>{{ attempts['Hazard'] }} {% if attempts['Hazard'] == 1%}test{% else %}tests{% endif %}</td>
                </tr>
            </tbody>
        </table>
    </section>
    <section class="update">
        <form id="updateform" action="none">
            <fieldset>
                <legend>Update your details</legend>
                <label for="updemail">New Email Address: </label><input type="email" name="updemail" id="updemail" placeholder={{student[0]["email"]}}>
                <label for="updpass">New Password: </label><input type="password" name="updpass" id="updpass" >
                <label for="updconpass">Confirm New Password: </label><input type="password" name="updconpass" id="updconpass">
                <div><button type="submit" id="updatebtn">Update Personal Details</button></div>
            </fieldset>
        </form>
        
        <p id="comment"></p>
    </section>
    
{% endblock %}