{% extends "base.html" %}

{% block head %}
<link href="/static/css/home.css" rel="stylesheet" type="text/css">
<title>Vet Calculations Practice</title>
{% endblock %}

{% block main %}
<main>
    <h1>Welcome to the Veterinary Calculations Practice!</h1>
    <p class="subtitle">
        Here you will find a hospital which will teach all about the calculations that will be needed
        through your career whether you are a vet, nurse or vet tech
    </p>
    <img src="/static/images/logo.png">
</main>
{% endblock %}