{% extends "base.html" %}

{% block title %}
Veterinary Calculations Kennels
{% endblock %}

{% block main %}
<link href="/static/css/kennels.css" rel="stylesheet" type="text/css">
<div class="flexcontainer">
<div class="flexbox2">
    <p class="frame">
        <img src="/static/images/Fluids.jpg" class="testimage">
    </p>
    <h3 class="centered">Fluid Therapy Calculations</h3>
    <ul class="arealink">
        <li><a class="teachme" href="/fluidcalc?q=teach">Teach Me</a></li>
        <li><a class="quizme" href="/fluidcalc?q=quiz">Quiz Me</a></li>
        <li><a class="testme" href="/test">Test Me</a></li>
    </ul>
</div>
<div class="flexbox2">
    </div>
</div>
{% endblock %}