{% extends "base.html" %}

{% block head %}
<link href="/static/css/rooms.css" rel="stylesheet" type="text/css">
<link href="/static/css/kennels.css" rel="stylesheet" type="text/css">
<title>Veterinary Calculations Kennels</title>
{% endblock %}

{% block main %}
<main>
    <h1>Kennels</h1>
    <article>
        <section class="option1">
            <h2>Fluid Therapy Calculations</h2>
            <img src="/static/images/Fluids.jpg" alt="Drip bags">
            <ul>
                <li><a id="teachme" href="/fluidcalc/teach">Teach Me</a></li>
                <li><a id="quizme" href="/fluidcalc/quiz">Quiz Me</a></li>
                <li><a id="testme" href="/test">Test Me</a></li>
            </ul>
        </section>
    </article>
</main>
{% endblock %}