{% extends "base.html" %}

{% block title %}
Veterinary Calculations Kennels
{% endblock %}

{% block main %}
<div class="flexcontainer">
<div class="flexbox2">
    <img src="/static/Fluids.jpg" class="testimage">
    <h3 class="centered">Fluid Therapy Calculations</h3>
    <a class="teachme" href="/fluidcalc?q=teach">Teach Me</a>
    <a class="quizme" href="/fluidcalc?q=quiz">Quiz Me</a>
    <a class="testme" href="/test">Test Me</a>
    </div>
<div class="flexbox2">
    </div>
</div>
{% endblock %}