{% extends "base.html" %}

{% block head %}
<script src="/static/javascript/login.js"></script>
<link href="/static/css/login.css" rel="stylesheet" type="text/css">
<title>Veterinary Calculations Login</title>
{% endblock %}

{% block main %}
<main>
    <h1>Login</h1>
    <section id="formSection">
        <p>Log in to take a test</p>
        <form id="loginform" action="/login" method="post">
            <label for="username">Username </label>
            <input type="text" name="username" title="Username" autofocus autocomplete="off">
            <label for="password">Password </label>
            <input type="password" name="password" title="Password">
            <div>
                <button type="submit" id="logbtn">Log In</button>
            </div>
            <a href="/register">Register here</a>
        </form>
        <p id="comment"></p>
    </section>
</main>
{% endblock %}