{% extends "base.html" %}

{% block title %}
Vet Calculation Pharmacy
{% endblock %}

{% block main %}
<link href="/static/css/pharmacy.css" rel="stylesheet" type="text/css">
<div class="flexcontainer">
<div class="flexbox2">
    <p class="frame">
        <img src="/static/images/Pills.jpg" class="testimage">
    </p>
    <h3 class="centered">Tablet Medicine Calculations</h3>
    <ul class="arealink">
            <li><a class="teachme" href="/tabletcalc?q=teach">Teach Me</a></li>
            <li><a class="quizme" href="/tabletcalc?q=quiz">Quiz Me</a></li>
            <li><a class="testme" href="/test">Test Me</a></li>
        </ul>
    </div>
<div class="flexbox2">
    <p class="frame">
        <img src="/static/images/Liquid.jpg" class="testimage">
    </p>
    <h3 class="centered">Oral Liquid Medicine Calculations</h3>
    <ul class="arealink">
        <li><a class="teachme" href="/liquidcalc?q=teach">Teach Me</a></li>
        <li><a class="quizme" href="/liquidcalc?q=quiz">Quiz Me</a></li>
        <li><a class="testme" href="/test">Test Me</a></li>
    </ul>
    </div>
</div>
{% endblock %}