{% extends "base.html" %}

{% block head %}
<script src="/static/javascript/domcreate.js"></script>
<script src="/static/javascript/test.js"></script>
<link href="/static/css/test.css" rel="stylesheet" type="text/css">
<title>Veterinary Calculations Testing Area</title>
{% endblock %}

{% block main %}
<main id="testpage">
        <h1>Test</h1>
        <article id="testlist">
                <p class="subtitle">
                        Please select a test below. Random is comprised of 10 randomly generated questions from all topics
                </p>
                <section id="Tablet">
                        <h2 >Tablets</h2>
                        <button>
                                <img src="/static/images/Pills.jpg"  alt="A handful of tablets">
                        </button>
                </section>
                <section id="Liquid">
                        <h2>Oral Liquids</h2>
                        <button><img src="/static/images/Liquid.jpg" alt="Liquid medication in a cup"></button> 
                </section>
                <section id="Fluids">
                        <h2>Fluids</h2>
                        <button><img src="/static/images/Fluids.jpg" alt="Drip bags"></button>
                        
                </section> 
                <section id="Gasflow">
                        <h2>Gas Flow</h2>
                        <button> <img src="/static/images/Anaesthetic.jpg" alt="Anaesthetic machine"></button>
                </section>
                <section id="Injectable">
                        <h2>Injectables</h2>
                        <button><img src="/static/images/Injectable.jpg" alt="Syringe and bottle"></button>
                </section>
                <section id="Hazard">
                        <h2>Random</h2>
                        <button><img src="/static/images/Hazard.jpg" alt="Radioactive hazard symbol"></button>
                </section>
        </article>
</main>

{% endblock %}