{% extends "base.html" %}

{% block title %}
Veterinary Calculations Testing Area
{% endblock %}

{% block main %}
<link href="/static/css/test.css" rel="stylesheet" type="text/css">
<div id="testpage">
        <div id="resultdiv"></div>
        <div class="mtitle" id="tester">
                Please select a test below<br>
                Random is comprised of 10 randomly generated questions from all topics
        </div>
        <div class="flexcontainer">
               <div class="flexbox3">
                        <p class="frame"><input type="image" src="/static/images/Pills.jpg" class="testimage" onclick="requesttest('Tablet',1)"></p>
                        <h3 class="centered">Tablets</h3>
                </div>
                <div class="flexbox3">
                        <p class="frame"><input type="image" src="/static/images/Liquid.jpg" class="testimage" onclick="requesttest('Liquid',1)"></p>
                        <h3>Oral Liquids</h3>
                </div>
                <div class="flexbox3">
                        <p class="frame"><input type="image" src="/static/images/Fluids.jpg" class="testimage" onclick="requesttest('Fluids',1)"></p>
                        <h3>Fluids</h3>
                </div> 
        </div>

        <div class="flexcontainer">
                <div class="flexbox3">
                        <p class="frame"><input type="image" src="/static/images/Anaesthetic.jpg" class="testimage" onclick="requesttest('gasFlow',1)"></p>
                        <h3>Gas Flow</h3>
                </div>
                <div class="flexbox3">
                        <p class="frame"><input type="image" src="/static/images/Injectable.jpg" class="testimage" onclick="requesttest('Injectable',1)"></p>
                        <h3>Injectables</h3>
                </div>
                <div class="flexbox3">
                        <p class="frame"><input type="image" src="/static/images/Hazard.jpg" class="testimage" onclick="requesttest('Hazard',1)"></p>
                        <h3>Random</h3>
                </div>
        </div>
        <div id="questionNum"></div>
        <div id="testdiv1"></div>
        <div id="testdiv2"></div>
</div>

{% endblock %}
{% block footer %}
<script src="/static/javascript/Test.js"></script>
{% endblock %}